<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912587959018-et47bi9g3ajodr0p6cmra5v5f4gu8nuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912587959018-et47bi9g3ajodr0p6cmra5v5f4gu8nuq</string>
	<key>API_KEY</key>
	<string>AIzaSyD91qqHfDgbLJ_i8ozJrzFchqb7lK1nVv4</string>
	<key>GCM_SENDER_ID</key>
	<string>912587959018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Caleb-Mawji.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolistswiftui-bcc1f</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistswiftui-bcc1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:912587959018:ios:f4dee9854c848af8b78593</string>
</dict>
</plist>
